<link rel="stylesheet" href="../style/content_produce.css">
<div class="container">
    <!--试卷信息源-->
    <div class="apple-card-container paper-file-container mb-20">
        <div class="apple-card-t-bar pl-20 fs-14">
            试卷信息源
        </div>
        <div class="resources-preview">
            <ul class="tc">
                <li class="resources-item dib">
                    <div class="resources-img">

                    </div>
                </li>
                <li class="resources-item dib">
                    <div class="resources-img">

                    </div>
                </li>
                <li class="resources-item dib">
                    <div class="resources-img">

                    </div>
                </li>
                <li class="resources-item dib">
                    <div class="resources-img">

                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!--试卷基础信息-->
    <div class="apple-card-container paper-info-container mb-20">
        <div class="apple-card-t-bar pl-20 fs-14">
            试卷基础信息
        </div>
        <div class="paper-basic-info tc p-10">
            <div class="paper-name fs-16 mb-10">2013-2014东莞市八年级数学上学期期末统考试题</div>
            <table class="paper-info-table" width="500">
                <tr class="tl mb-10">
                    <td>年份：</td>
                    <td>2015</td>
                    <td>地区：</td>
                    <td>广东-东莞</td>
                    <td>学校：</td>
                    <td>东莞中学</td>
                </tr>
                <tr class="tl">
                    <td>年级：</td>
                    <td>八年级</td>
                    <td>科目：</td>
                    <td>数学</td>
                    <td>试卷类型：</td>
                    <td>期末考试</td>
                </tr>
            </table>
        </div>
    </div>
    <!--试卷编辑区-->
    <div class="editor-area b-s-c7">

    </div>
</div>
