<link rel="stylesheet" href="../style/task_upload.css">
<div class="container">
    <div class="upload-nav tc">
        <h3>上传文件，发布任务</h3>
        <a class="enter-upload dib" ng-click="goPage()">
            进入上传中心
        </a>
    </div>
    <div class="apple-card-container mb-20 item-shadow">
        <div class="apple-card-t-bar">
            <i class="apple-circle apple-circle-red"></i>
            <i class="apple-circle apple-circle-yellow"></i>
            <i class="apple-circle apple-circle-green"></i>
        </div>
        <table class="table bg-fff table-striped table-hover task-list">
            <thead>
            <tr>
                <td width="50">序号</td>
                <td>名称</td>
                <td width="50">科目</td>
                <td width="50">年级</td>
                <td>时间</td>
                <td width="150">状态</td>
                <td width="150">操作</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>2015东莞中学高二下学期期中考试</td>
                <td>数学</td>
                <td>高二</td>
                <td>2016.04.19 16:00</td>
                <td>审核中</td>
                <td>刷新状态</td>
            </tr>
            <tr>
                <td>1</td>
                <td>2015东莞中学高二下学期期中考试</td>
                <td>数学</td>
                <td>高二</td>
                <td>2016.04.19 16:00</td>
                <td>审核中</td>
                <td>刷新状态</td>
            </tr>
            <tr>
                <td>1</td>
                <td>2015东莞中学高二下学期期中考试</td>
                <td>数学</td>
                <td>高二</td>
                <td>2016.04.19 16:00</td>
                <td>审核中</td>
                <td>刷新状态</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>