.container {
    width: 100%;
}

.paper-file-container, .paper-info-container, .editor-area {
    width: 800px;
}
.paper-info-container{
    margin-top: 270px;
}
.paper-file-container {
    position: fixed;
    height: 250px;
    z-index: 1001;
    background: url("../img/task_upload/fileCheck_bg.jpg") no-repeat top;
    background-size: cover;
    border: 1px solid #dcdcdc;
    top: 50px;
}
.resources-preview-header{
    background-color: #e8e8e8;
}
.resources-preview-tag{
    font-size: 30px;
    margin-top: -2px;
    margin-right: -3px;
}
.resources-preview {
    padding-top: 20px;
    width: 100%;
}
.resources-item {
    width: 120px;
    height: 160px;
    padding: 8px;
    background-color: #FFFFFF;
    margin-right: 40px;
    border-radius: 2px;
    position: relative;
    cursor: pointer;
    transition: all 0.5s;
}
.resources-item.active{
    -webkit-box-shadow: 3px 7px 8px rgba(0,0,0,0.3);
    -moz-box-shadow:  3px 7px 8px rgba(0,0,0,0.3);
    box-shadow: 3px 7px 8px rgba(0,0,0,0.3);
}
.visible-area{
    width: 605px;
    overflow: hidden;
    margin: 0 auto;
}
.btn-pre,.btn-next{
    font-size: 30px;
    top: 110px;
    cursor: pointer;
}
.btn-pre:hover,.btn-next:hover{
    color: #92b65c;
    font-size: 35px;
    transition: all .2s;
}
.btn-pre{
    left: 60px;
}
.btn-next{
    right: 60px;
}
.images {
    padding: 0;
    width: 100000px;
    text-align: left;
    transition: all 0.5s;
    letter-spacing: 0;
    font-size: 0;
}
.resources-img {
    width: 100%;
    height: 100%;
}
.img-cover{
    width: 104px;
    height: 144px;
    top: 8px;
    left: 8px;
    background-image:-webkit-linear-gradient(bottom, rgba(123,104,73,0.2) 0%,rgba(123,104,73,0.04) 100%);
    background-image:-moz-linear-gradient(bottom, rgba(123,104,73,0.2) 0%,rgba(123,104,73,0.04) 100%);
    background-image:linear-gradient(bottom, rgba(123,104,73,0.2) 0%,rgba(123,104,73,0.04) 100%);
}
.fullscreen-icon{
    top: 62px;
    left: 44px;
}

/*试卷基础信息*/
.paper-info-table {
    margin: 0 auto;
}

.paper-info-table td {
    padding: 5px;
}
/*试卷*/
.paper-content{
    background-color: #FFFFFF;
    text-align: center;
    width: 800px;
    min-height: 800px;
    padding: 20px;
    background-size: 50%;
}
.question-type-wrapper{
    margin: 15px 0;
}
.question-type-icon,.headline-index,.question-type{
    color: #92b65c;
}
.question{
    width: 100%;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
.question-index-tag{
    left: 2px;
    top: 5px;
    z-index: 2;
    color: #FFFFFF;
    font-size: 16px;
}

.question-index {
    left: 0;
    top: 0;
    z-index: 1;
    display: inline-block;
    width: 35px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    font-weight: 600;
    border-left: 1px solid #c7c7c7;
    border-top: 1px solid #c7c7c7;
    text-indent: 15px;
    background: #3c763d;
    color: #fff;
}
.question-item{
    min-height: 200px;
    border-top: 1px dashed #92b65c;
    padding: 20px;
}
/*操作区*/
.shortcut {
    width: 240px;
    position: fixed;
    top: 50px;
    right: 150px;
    z-index: 1003;
}

@media all and (max-width: 1400px) {
    .shortcut {
        right: 100px;
    }
}

@media all and (max-width: 1200px) {
    .shortcut {
        right: 10px;
    }
}

@media all and (max-width: 1000px) {
    .shortcut {
        display: none;
    }
}
.add-question-headline{
    height: 24px;
    line-height: 24px;
    margin-top: 3px;
    margin-right: 10px;
    padding: 0 10px;
    border:1px solid #dcdcdc;
}
.shortcut-form-control {
    height: 28px;
    padding: 4px 12px;
    border-color: #92b65c;
    color: #92b65c;
}
.shortcut-input-group-addon{
    color: #92b65c;
    border-color: #92b65c;
}

.shortcut-question-list {
    padding: 10px 0 10px 15px;
    text-align: left;
}

.shortcut-question-list li {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 10px;
}

.question-index-circle {
    cursor: pointer;
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 1px solid #92b65c;
    color: #92b65c;
    border-radius: 50%;
    text-align: center;
    font-style: normal;
    line-height: 22px;
    font-size: 16px;
}

.shortcut-add.margin-deal {
    margin-left: -5px;
}

.shortcut-add-circle {
    cursor: pointer;
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 1px solid #92b65c;
    color: #92b65c;
    border-radius: 50%;
    text-align: center;
    padding-top: 5px;
}

.question-index-circle:hover, .shortcut-add-circle:hover {
    background-color: #92b65c;
    color: #FFFFFF;
}

.question-index-circle.active, .shortcut-add-circle.active {
    background-color: #92b65c;
    color: #FFFFFF;
}

.shortcut-body {
    min-height: 500px;
}
.shortcut-footer{
    height: 50px;
}
/*插件的订制样式*/
.viewer-container {
    width: 800px;
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
}
/*有误批注弹窗*/
.alert-box-cover{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2017;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
}
.alert-box{
    width: 500px;
    position: fixed;
    z-index: 2018;
    top: 60px;
    right: 50px;
    background-color: #FFFFFF;
}
#errMsg{
    width: 100%;
    margin: 0 auto;
    font-size: 14px;
    border: none;
    padding: 0 10px 10px;
    line-height: 18px;
}
.alert-body{
    text-align: center;
}
.alert-footer{
    height: 30px;
}
.alert-title span{
    color: #666;
    margin-right: 5px;
    margin-top: 5px;
    cursor: pointer;
}