body{
    background:url("../img/login/login_bg_new.png") center -200px no-repeat;
    background-size: cover;
}
.cover{
    position: fixed;
    top: 0;
    width: 100%;
    height: 1000px;
    background: rgba(0,0,0,0.2);
}
.login-container{
    margin:100px auto 0;
    width: 340px;
    background-color: #FFFFFF;
    border: 1px solid #eeeeee;
}
.logo{
    margin: 0 auto;
    background: url("../img/login/logo.png") no-repeat center center;
    background-size: contain;
    width: 200px;
    height: 150px;
    border-radius: 4px;
}
.form-submit{
    width: 160px;
    margin: 0 auto 20px;
}