.login-container{
    margin:100px auto 0;
    width: 340px;
    background-color: #FFFFFF;
    border: 1px solid #eeeeee;
}
.logo{
    margin: 0 auto;
    background: url("../img/login/logo.png") no-repeat center center;
    background-size: contain;
    width: 200px;
    height: 150px;
    border-radius: 4px;
}
.form-submit{
    width: 160px;
    margin: 0 auto 20px;
}
.login-form,.register-form{
    overflow: hidden;
}
.login-btn,.register-btn{
    width: 100%;
}

/*hover样式*/
/*
 color: #259;
    background: #eff6fa;
    border-radius: 3px;
    text-decoration: none;
    */