/************************************************************************* Global Style */
html {
    height: 100%;
    width: 100%;
}
body {
    height: 100%;
    width: 100%;
    background: #f7f7f7;
    line-height: 1.4em;
    margin: 0 auto;
    padding-top: 50px;
}
/*导航条*/
.nav-logo{
    width: 100px;
    background: url("../img/login/logo.png") no-repeat center center;
    background-size: contain;
}
/*子页面容器*/
.view-container{
    width: 1200px;
    margin: 0 auto 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #FFFFFF;
}