.container{
    padding-top: 20px;
    width: 100%;
}
/*上传文件部分*/
.upload-area{
    padding: 20px 40px;
}
.file-type-tip{
    background: #eeeeee;
}
.upload-container{
    width: 700px;
    margin: 0 auto;
}
/*源文件预览*/
.resources-preview{
    width: 100%;
    background: url("../img/task_upload/fileCheck_bg.jpg") no-repeat top;
    background-size: cover;
    padding: 20px;
}
.resources-preview-header{
    background-color: #e8e8e8;
}
.visible-area{
    width: 685px;
    overflow: hidden;
    margin: 0 auto;
}
.images{
    padding: 0;
    width: 100000px;
    text-align: left;
    transition: all 0.5s;
    letter-spacing: 0;
    font-size: 0;
}
.resources-item{
    width: 140px;
    height: 180px;
    padding: 8px;
    background-color: #FFFFFF;
    margin-right: 40px;
    border-radius: 4px;
    text-align: center;
    position: relative;
    cursor: pointer;
    transition: all 0.5s;
}
.resources-item.active{
    -webkit-box-shadow: 3px 7px 8px rgba(0,0,0,0.3);
    -moz-box-shadow:  3px 7px 8px rgba(0,0,0,0.3);
    box-shadow: 3px 7px 8px rgba(0,0,0,0.3);
}
.resources-img{
    width: 124px;
    height: 164px;
}
.btn-pre,.btn-next{
    font-size: 30px;
    top: 90px;
    cursor: pointer;
}
.btn-pre:hover,.btn-next:hover{
    color: #92b65c;
    font-size: 35px;
    transition: all .2s;
}
.btn-pre{
    left: 80px;
}
.btn-next{
    right: 80px;
}
.img-cover{
    width: 124px;
    height: 164px;
    top: 8px;
    left: 8px;
    background-image:-webkit-linear-gradient(bottom, rgba(123,104,73,0.2) 0%,rgba(123,104,73,0.04) 100%);
    background-image:-moz-linear-gradient(bottom, rgba(123,104,73,0.2) 0%,rgba(123,104,73,0.04) 100%);
    background-image:linear-gradient(bottom, rgba(123,104,73,0.2) 0%,rgba(123,104,73,0.04) 100%);
}
.fullscreen-icon{
    font-size: 18px;
    top: 71px;
    left: 53px;
}
/*进入任务上传页面导航*/
.enter-upload{
    width: 250px;
    height: 60px;
    line-height: 60px;
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 10px;
    cursor: pointer;
    text-align: center;
    padding: 0 10px;
    display: inline-block;
    color: #fff;
    border: 1px solid #0cbe93;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background: #0bd2a1;
    background: linear-gradient(#21dcae 0,#0bd2a1 55%,#0cbe93 100%);
    background: -webkit-linear-gradient(#21dcae 0,#0bd2a1 55%,#0cbe93 100%);
}
.enter-upload:hover{
    color: #fff;
    background: #0bd2a1;
    background: linear-gradient(#0bd2a1 0,#0bc89a 55%,#0cbf93 100%);
    background: -webkit-linear-gradient(#0bd2a1 0,#0bc89a 55%,#0cbf93 100%);
}
/*任务列表*/
.task-list thead{
    font-size: 16px;
}
/*资源上传页*/
.paper-info{
    padding: 20px;
}
.paper-basic-data{
    padding: 2px 30px 2px 10px;
    border-radius: 4px;
    font-size: 14px;
}
.label-for-select{
    font-size: 16px;
    font-weight: 500;
}
.paper-info-container{
    position: relative;
    min-height: 350px;
}
.select-container{
    margin-bottom: 20px;
}
.select-tip{
    background: #eeeeee;
    float: right;
    margin-top: 100px;
    margin-right: 20px;
}
#school{
    width: 220px;
    height: 30px;
    border-radius: 4px;
}
.bottom-btn{
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 10px;
    right: 20px;
}
/*插件的订制样式*/
.viewer-container{
    width: 1000px;
    height: 400px;
    position: fixed;
    top: 0;
    left: 0;
}.viewer-container{
    width: 1000px;
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
}