.container{
    padding: 20px;
    background: url("../img/task_upload/task_upload_bg.jpg") no-repeat #eeeeee;
}
/*上传文件部分*/
.upload-area{
    padding: 20px 40px;
}
.file-type-tip{
    background: #eeeeee;
}
.card-container{
    margin: 0 auto;
    width: 500px;
    background-color: #FFFFFF;
    border-radius: 4px;
}
.card-b-bar{
    width: 100%;
    background: #2980B9;
}