.container{
    padding-top: 20px;
    width: 100%;
}
/*上传文件部分*/
.upload-area{
    padding: 20px 40px;
}
.file-type-tip{
    background: #eeeeee;
}
.upload-container{
    width: 700px;
    margin: 0 auto;
}
/*源文件预览*/
.resources-preview{
    width: 100%;
}
.resources-item{
    width: 140px;
    height: 180px;
    padding: 8px;
    background-color: #FFFFFF;
    margin-right: 40px;
    border-radius: 2px;
}
.resources-img{
    width: 100%;
    height: 100%;
    background-color: #c7c7c7;
}
/*进入任务上传页面导航*/
.enter-upload{
    width: 250px;
    height: 60px;
    line-height: 60px;
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 10px;
    cursor: pointer;
    text-align: center;
    padding: 0 10px;
    display: inline-block;
    color: #fff;
    border: 1px solid #0cbe93;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background: #0bd2a1;
    background: linear-gradient(#21dcae 0,#0bd2a1 55%,#0cbe93 100%);
    background: -webkit-linear-gradient(#21dcae 0,#0bd2a1 55%,#0cbe93 100%);
}
.enter-upload:hover{
    color: #fff;
    background: #0bd2a1;
    background: linear-gradient(#0bd2a1 0,#0bc89a 55%,#0cbf93 100%);
    background: -webkit-linear-gradient(#0bd2a1 0,#0bc89a 55%,#0cbf93 100%);
}
/*任务列表*/
.task-list thead{
    font-size: 16px;
}
/*资源上传页*/
.paper-info{
    padding: 20px;
    margin-left: 250px;
}
.paper-basic-data{
    padding: 2px 30px 2px 10px;
    border-radius: 4px;
    font-size: 14px;
}
.label-for-select{
    font-size: 16px;
    font-weight: 500;
}
.select-container{
    margin-bottom: 20px;
}
#school{
    width: 220px;
    height: 30px;
    border-radius: 4px;
}
.bottom-btn{
    height: 40px;
}