/*以下是本项目定制的样式*/
.card-shadow{
    -webkit-box-shadow: 6px 6px 5px rgba(128,128,128,0.2);
    -moz-box-shadow:  6px 6px 5px rgba(128,128,128,0.2);
    box-shadow:  6px 6px 5px rgba(128,128,128,0.2);
}
.item-shadow{
    -webkit-box-shadow: 0px 6px 5px rgba(0,0,0,0.2);
    -moz-box-shadow:  0px 6px 5px rgba(0,0,0,0.2);
    box-shadow: 0px 6px 5px rgba(0,0,0,0.2);
}
/*苹果窗口样式*/
.apple-card-container{
    background-color: #FFFFFF;
    border-radius: 4px;
    border: 1px solid #c7c7c7;
}
.apple-card-t-bar{
    width: 100%;
    background: #d7d7d7;
    height: 30px;
    line-height: 30px;
}
.apple-circle{
    width: 14px;
    height: 14px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 6px;
}
.apple-circle-red{
    background-color: #f5745d;
}
.apple-circle-yellow{
    background-color: #f8f856;
}
.apple-circle-green{
    background-color: #3fe395;
}
/*苹果窗口样式end*/
/*滚动条样式*/
::-webkit-scrollbar{
    width: 5px;
    height: 10px;
}
::-webkit-scrollbar-track-piece{
    background-color: #e3e3e3;
    border-radius: 6px;
}
::-webkit-scrollbar-thumb:vertical,::-webkit-scrollbar-thumb:horizontal{
    background-color: #666666;
    border-radius: 6px;
}
/*滚动条样式end*/
/*定制的按钮样式*/
.c-btn-normal{
    outline: none;
    cursor: pointer;
    text-align: center;
    padding: 0 10px;
    height: 26px;
    line-height: 26px;
    display: inline-block;
    border: 1px solid #92b65c;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background: #FFFFFF;
    color:#92b65c;
}
.c-btn-normal.active{
    color: #fff;
    background: #729044;
    border: none;
}
.c-btn-normal:hover{
    color: #fff;
    background: #92b65c;
}
.c-btn-normal-org {
    border: 0;
    cursor: pointer;
    text-align: center;
    padding: 0 20px;
    display: inline-block;
    color: #fff;
    height: 30px;
    line-height: 30px;
    border: 1px solid #f19100;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    background: #ffa51d;
    background: linear-gradient(#ffa51d 0,#ff9a02 50%,#ff9f0e 100%);
    background: -webkit-linear-gradient(#ffa51d 0,#ff9a02 50%,#ff9f0e 100%);
    background: -moz-linear-gradient(#ffa51d 0,#ff9a02 50%,#ff9f0e 100%);
    background: -ms-linear-gradient(#ffa51d 0,#ff9a02 50%,#ff9f0e 100%);
    background: -o-linear-gradient(#ffa51d 0,#ff9a02 50%,#ff9f0e 100%);
}
.c-btn-normal-org:hover {
    color: #fff;
    background: #f99f16;
    background: linear-gradient(#f99f16 0,#ef9918 100%);
    background: -webkit-linear-gradient(#f99f16 0,#ef9918 100%);
    background: -moz-linear-gradient(#f99f16 0,#ef9918 100%);
    background: -ms-linear-gradient(#f99f16 0,#ef9918 100%);
    background: -o-linear-gradient(#f99f16 0,#ef9918 100%);
}
/*定制的按钮样式end*/
/*订制的文本框样式*/
.form-control:focus{
    border-color: #92b65c;
    outline: 0;
}
/*订制的文本框样式end*/
