a{
    text-decoration: none;
    color: inherit;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    color: #666;
}
li{
    list-style: none;
}
*{
    box-sizing: border-box;
}
/*a标签hover*/
a:hover{
    text-decoration: none;
}
label{
    font-weight: normal;
}